.members-list {
  display: flex;
  flex-direction: column;
  
  .members-list-headers {
    text-align: left;
    padding: 10px;
    height: 7vh;
    background-color: rgb(221, 43, 12);
    color: white;
  }
}

.members-list-row {
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text-padd-5 {
  margin-left: 10vw;
}


.members-page {
  display: flex;
flex-direction: column;
.create-btn {
  margin: 5%;
}
}