.profile-editor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-card-host {
    min-height: 150px;
    
    .profile-card {
        background-color: rgb(102, 28, 112);
        display: flex;
        .card-image-box {
            background-color: rgb(255, 255, 255);
            flex: 0.3;
            padding: 4%;
            .card-avatar {
                height: 106px;
                width: 100px;
        }
    }
    .data-container {
        margin-left: 5vw;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: flex-start;
        flex-direction: column;
        color: white;
    }

}
}