.profile-editor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-card-host {
    
    .profile-card {
        background-color: rgb(102, 28, 112);
        display: flex;
        .card-image-box {
            background-color: rgb(255, 255, 255);
            flex: 0.3;
            padding: 4%;
            .card-image {
            border-radius: 50%;
            background-image: url(/images/abiodun.jpg);
            height: 120px;
            width: 120px;
        }
    }
    .data-container {
        margin-left: 5vw;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        color: white;
    }

}
}