.layout-items {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  width: 100vw;
}

.links {
  button {
    color: rgb(124, 124, 124);
    :hover {
      color: rgb(68, 68, 68);
    }
  }
}

.menu-bar {
  margin-top: 3%;
  margin-bottom: 3%;
  height: 7vh;
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-radius: 50;
}

.column {
  display: flex;
  flex-direction: column;
}

.dashboard {
  background-color: rgba(233, 233, 233, 0.815);
  width: 100vw;

  .information {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .card {
      width: 45%;
      @media (min-width: 0px) and (max-width: 600px) {
        width: 100%;
        margin-top: 5vh;
      }
    }
  }
}

// small screens
@media (min-width: 0px) and (max-width: 600px) {
  .hide-small-screen {
    visibility: hidden;
    height: 1vh;
  }

  .toolbar {
    .input {
      margin-left: 5vw;
      margin: 0.8vh;
    }

    .drawer {
      width: 40vw;
    }
  }

  .content {
    margin-top: 9vh;
    width: 100vw;
  }
}

// desktop queries
@media (min-width: 600px) {
  .hide-large-screen {
    visibility: hidden;
  }

  .main {
    margin-right: 5%;
    margin-left: 25%;
    display: flex;
    flex-direction: column;
    width: 80vw;
    // justify-content: center;
  }

  .toolbar {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    // max-height: 7vh;
    // align-items: flex-end;
  }

  button.log-out-btn {
    margin-left: 5%;
  }

  .drawer {
    display: flex;
    //   background-color: red;
    width: 20vw;
    height: 100vh;
    flex-direction: column;
  }

  .bg-break {
    background-color: white;
    height: 5vh;
  }
}

.member-list {
  margin-top: 5vh;
}


.layout-side-bar {
  display: flex;
  flex-direction: column;
  background-color: purple;
  color: white;
  height: 99vh;

  .sidebar-brand {
    margin: 5vh 1vw;
    height: 15vh;
  }

  .sidebar-spacer {
    height: 7vh;
    background-color: white;
  }

  .sidebar-routes {
    display: flex;
    flex-direction: column;
  }
}